[2021-03-07 03:18] Vierod opened #1 "eemont scale and cloudMask error on data with end date before 2018-12-14"
Hi I've found an apparent issue?

When using eemont for the cloudMask and scale convenience functions, if creating an image collection with a filterDate end date of before 2018-12-14 I receive the following error.

If I remove the .scale or .cloudMask from the call it completes, similarly if the end date is set to later than this it also completes. Is anyone else able to replicate this?

My suspic

[2021-03-07 03:30] Vierod commented on #1
Ok so if I remove my filterBounds call the error is no longer present, and I can then filterBounds afterwards.

I'm curious if anyone can replicate this but will otherwise close the issue as resolved...

This fails...
[code]

This works...
[code]

This also works...
[code]

Maybe I'm just being dim about the reasoning for the order of the calls, is this unusual behaviour?

[2021-03-07 03:51] #1 closed

[2021-03-07 03:52] Vierod commented on #1
There's no images in my area before this date that's why...

[2021-03-07 17:04] davemlz commented on #1
Hi! Thank you for pointing this out, maybe I can add an Exception requesting the user to check if there are images if something goes wrong!

[2021-04-13 18:39] andresfchamorro opened #2 "index() does not work when called within .map()"
Hey!

First of all great work, very useful package. I am trying to create a time series dataset of indices based on Landsat collections. I have prepared a basic function that works well when it's run with one feature, but it fails when mapped to a feature collection. Here is a simplified version of the function:

[code]
This works:
[code]
But this fails:
[code]
with the following error

![image](h

[2021-04-13 20:07] davemlz commented on #2
Hi Andres!

Thank you very much for pointing this out, I will check it. Is there any chance I can get access to the feature collection to try it?

In the meantime, let me tell you that you can get the time series from a feature collection by using the `getTimeSeriesByRegions()` method from eemont 0.1.9 ([example here](https://github.com/davemlz/eemont/blob/master/tutorials/014-Time-Series-By-Regio

[2021-04-13 20:21] davemlz opened #3 "Moving to pydata sphinx format"
- [x] Update sphinx format
- [x] Update classes documentation (update examples, notes and guides)
- [x] Create readthedocs workflow
- [x] Test docs

[2021-04-13 22:18] elbeejay opened #4 "[JOSS Review] Contributor instructions"
Hi, could you please add some instructions for contributors on how they might go about adding to this package? For example is there a particular code style, doc-string style that this package adheres to? Would you prefer issues opened before pull requests?

Thanks!

This comment relates to the ongoing [JOSS review](https://github.com/openjournals/joss-reviews/issues/3168) of this package, comment

[2021-04-13 22:23] elbeejay opened #5 "[JOSS Review] Package test automation/instructions"
Looks like there is a set of [tests](https://github.com/davemlz/eemont/tree/master/tests) that have been written for this package. Can you either automate these via some sort of continuous integration, or provide detailed instructions in the documentation so that an individual can run the tests locally?

I would consider adding a "developer installation" set of instructions to the documentation so

[2021-04-14 01:39] davemlz commented on #5
Hi, @elbeejay!

Perfect, I'll work on it and let you know when it is finished! (I'll do the same for #4)

Thank you!

[2021-04-14 14:43] andresfchamorro commented on #2
Thanks, I'll look into getTimeSeriesByRegions. I am doing a bit of harmonization prior (merging different Landsat collections) and running this for multiple countries, which is why I was implementing a custom function - if I don't use filterBounds for each country it will probably time out.

Sure, send me your gmail and I'll share the feature collection.

[2021-04-15 01:31] davemlz opened #6 "Overloaded Operators for ee.Number"
- [x] Create the ee.Number module.
- [x] Overload operators for the ee.Number class.

[2021-04-15 01:38] davemlz commented on #2
Hi Andres!

Ok, now I understand.

You can share your feature collection to this [gmail](mailto:dml.mont@gmail.com).

Thanks!

[2021-04-15 20:54] davemlz commented on #5
Hi, @elbeejay!

I have added, for now, a general section for Contribution Guidelines that covers #4 and #5. You can find them in the [README](https://github.com/davemlz/eemont/blob/master/README.rst) and in the [CONTRIBUTING](https://github.com/davemlz/eemont/blob/master/CONTRIBUTING.rst) files. I plan to extend them in the future with more details on how to contribute for specific features of the

[2021-04-15 22:17] elbeejay commented on #5
Awesome, thanks!

[2021-04-15 22:17] #5 closed

[2021-04-15 22:17] elbeejay commented on #4
Looks great, thanks.

[2021-04-15 22:17] #4 closed

[2021-04-16 01:18] davemlz opened #7 "Array methods for numeric ee.List object classes"
- [ ] Create the ee.List module
- [ ] Add methods
- [ ] Testing

[2021-04-16 21:59] davemlz opened #8 "Move maskClouds() method to the common module"
Move the maskClouds() method to the common module.

[2021-04-16 21:59] davemlz opened #9 "Move scale() to the common module"
Move the scale() method to the common module.

[2021-04-16 22:36] davemlz commented on #3
The documentation was successfully moved to the pydata sphinx format: [link](https://eemont.readthedocs.io/en/latest/)

[2021-04-16 22:36] #3 closed

[2021-04-17 00:04] davemlz commented on #9
scale() method successfully moved to the common module (https://github.com/davemlz/eemont/commit/56d5cbebd86c5952163ab5d1e47a107d99c6c120)

[2021-04-17 00:04] #9 closed

[2021-04-17 01:10] davemlz commented on #8
maskClouds() method successfully moved to the common module (https://github.com/davemlz/eemont/commit/e1c9b58837a9626890a087120b2a1c4b764d85c3)

[2021-04-17 01:10] #8 closed

[2021-04-17 01:21] davemlz opened #10 "Deprecation of index() and scale()"
index() will be renamed as spectralIndices(), and scale() will be renamed as scaleAndOffset() to avoid confusion.

- [x] Add Deprecation Warnings
- [x] Add new methods
- [x] Add documentation

[2021-04-18 23:14] davemlz commented on #10
spectralIndices() and scaleAndOffset() methods were added (https://github.com/davemlz/eemont/commit/a9bd55f22b908298dc5cb8b36414373cc7834d06).

Tests are pending.

[2021-04-18 23:29] davemlz commented on #10
Tests were added and passed (https://github.com/davemlz/eemont/commit/57985406e8d3e0303505048937690ecc6afd97be).

[2021-04-18 23:29] #10 closed

[2021-04-19 02:32] davemlz commented on #2
Hi Andres!

I have checked your script, and now I know what's happening: The problem is associated to the _get_platform function. This function uses the `getInfo()` client method in order to get the ID of the ee.Image (or ee.ImageCollection) so different `eemont` methods such as `scale()`, `maskClouds()` or `index()` can be computed according to the parameters of the specific satellite platform.

[2021-04-19 02:32] #2 closed

[2021-04-19 02:46] davemlz opened #11 "Avoid the use of getInfo() and keep eemont on the server-side"
The `_get_platform` function uses the `getInfo()` method to get the ID of an ee.Image (or ee.ImageCollection). This is used in order to compute methods such as `index()` (now renamed as `spectralIndices()`), `scale()` (now renamed as `scaleAndOffset()`) or `maskClouds()` for different platforms (datasets from the GEE Catalog) by using dictionaries with the ID of each platform.

The idea is to avoi

[2021-04-20 20:38] davemlz opened #12 "Update GEE STAC IDs"
- [x] Create a workflow to download the list.
- [x] Update the _get_platform method.
- [x] Update additional methods.

[2021-04-21 17:58] davemlz commented on #12
GEE STAC IDs successfully updated.

[2021-04-21 17:58] #12 closed

[2021-04-21 18:04] davemlz opened #13 "Update scale and offset parameters from GEE STAC"
- [x] Create workflow
- [x] Create getScaleParams()
- [x] Create getOffsetParams()
- [x] Update scaleAndOffset()
- [x] Test

[2021-04-21 20:24] davemlz commented on #13
Scale and Offset parameters from the GEE STAC Catalog successfully updated.

[2021-04-21 20:24] #13 closed

[2021-04-21 23:44] davemlz commented on #6
Overloaded operators for ee.Number successfully created.

[2021-04-21 23:44] #6 closed

[2021-04-23 15:16] davemlz opened #14 "Move to Black"
Use [Black](https://github.com/psf/black) formatter.

[2021-04-23 15:21] davemlz commented on #14
Moved successfully to Black.

[2021-04-23 15:21] #14 closed

[2021-04-26 17:53] davemlz opened #15 "Spectral Indices from the Awesome List of Spectral Indices"
- [x] Create workflow
- [x] Update methods
- [x] Testing

[2021-04-26 17:54] davemlz opened #16 "A .preprocess() method?"
It would be nice to have a `.preprocess()` method for ee.Image and ee.ImageCollection object classes.

- Mask clouds and shadows.
- Scale and offset.

[2021-04-26 18:12] davemlz opened #17 "Overloaded Operators for ee.List"
- [x] Create ee.List module
- [x] Overload operators
- [x] Testing

[2021-04-26 19:05] davemlz commented on #17
Overloaded Operators for ee.List successfully created.

[2021-04-26 19:05] #17 closed

[2021-04-26 19:16] elbeejay opened #18 "[JOSS Review] Errors in tutorial notebooks"
Hello, I was running through the tutorial notebooks (locally) and ran into the following errors:

`004-Computing-Spectral-Indices-Landsat-8.ipynb`, I received the following error in the final cell:
[code]
I had similar errors in tutorials 005 and 006 as well.

---

Then in `013-Time-Series-By-Region-Pandas.ipynb`, I had the following code-error combo.
Code block:
[code]
Error:
[code]
I ran into a

[2021-04-26 19:56] davemlz commented on #18
Hi, @elbeejay!

The error of the tutorials 004, 005 and 006 is related to how `geemap` is imported. Since the tutorials were created to work in Google Colab, `geemap` methods are related to `folium` and not to `ipyleaflet`. When you run the notebooks locally, `geemap` uses `ipyleaflet` by default, this can be modified by importing `geemap` as follows:

[code]

That should work for those tutorials.

[2021-04-26 20:02] davemlz commented on #18
Hi, @elbeejay!

I have modified the tutorials.

Let me know if they work!

Cheers!

[2021-04-26 20:02] elbeejay opened #19 "[JOSS Review] Paper/documentation comments and suggestions"
The `eemont` package is clearly a useful addition to the GEE API and improves the functionality and ease of use of Google Earth Engine, so congratulations to @davemlz for creating a useful package for the broader gee community.

That being said I think both the documentation and the JOSS paper could make a stronger case for the benefits of the `eemont` package. From the paper and documentation alo

[2021-04-26 20:13] davemlz commented on #19
Hi, @elbeejay!

Thank you very much for your comments and suggestions!

I really like your ideas for the documentation and also for the paper! I will work on them and I'll let you know when they're ready.

Thank you very much again!

Cheers!

[2021-04-26 20:21] elbeejay commented on #18
The revised examples all worked for me with the exception of tutorial 012. I had to fiddle a bit with the import statement and colorbar statements to get the plots to show up properly.

[2021-04-26 20:35] davemlz commented on #18
I'm sorry, now that I checked that tutorial again I see that it was a bit confusing. I have modified it. Let me know if it works!

[2021-04-26 20:38] elbeejay commented on #18
This worked, thanks

[2021-04-26 20:38] #18 closed

[2021-04-27 22:28] davemlz commented on #19
Hi, @elbeejay!

I have updated the examples of the features in the [README](https://github.com/davemlz/eemont/blob/master/README.rst) and also in the [Docs for the upcoming version](https://eemont.readthedocs.io/en/latest/?badge=latest). The new examples now show the comparison between using just the GEE Python API methods and using eemont methods.

Now I'm going to work on the paper with your add

[2021-04-28 01:31] davemlz commented on #15
Awesome Spectral Indices successfully added.

[2021-04-28 01:31] #15 closed

[2021-04-29 01:08] elbeejay commented on #19
Looks great, I think it makes the package very attractive for someone that stumbles upon it while trying to pick up the GEE Python API

[2021-04-29 01:10] davemlz opened #20 "'online' argument for image scaling and spectral indices"
Add an `online` argument for `spectralIndices`, `scaleAndOffset`, `getOffsetParams` and `getScaleParams`. The idea is to get the most recent data from the [Awesome List of Spectral Indices](https://github.com/davemlz/awesome-ee-spectral-indices) and the [List of Scale and Offset Parameters](https://github.com/davemlz/ee-catalog-scale-offset-params).

[2021-04-29 02:46] giswqs commented on #18
@davemlz I just improved the geemap `add_colorbar()` function (https://github.com/giswqs/geemap/commit/dc7e54856694a1994b6d4f4044385babe04bd086), making it compatible with both folium and ipyleaflet. It should be available in the next geemap release. You can also run `geemap.update_package()` to install geemap from GitHub. With the improved `add_colorbar()` function, your notebooks will no longer

[2021-04-29 03:05] giswqs commented on #18
@davemlz I just released geemap [v0.8.15](https://github.com/giswqs/geemap/releases/tag/v0.8.15), which includes the improved `add_colorbar` function. Your notebooks will now work with both Colab and local Jupyter notebooks without making any changes. Also note that `Map.addLayerControl()` is not needed. geemap will automatically add the layer control when the map is displayed in Colab. `Map = gee

[2021-04-29 16:34] davemlz commented on #18
That's great! I will update the notebooks. Thank you very much, @giswqs!

[2021-04-29 20:04] davemlz commented on #18
I have updated the tutorials (https://github.com/davemlz/eemont/commit/320c867413aa8176bc3abe7a531ebc1ee0d225be). Thank you @giswqs for the update in `geemap`! However, I had some trouble in [Tutorial 012](https://github.com/davemlz/eemont/blob/master/tutorials/012-Spectral-Indices-MODIS-MOD09GA.ipynb) when using the `colormaps`. I think it is caused by the return type of the `Box` object, convert

[2021-04-30 03:12] davemlz commented on #19
Hi, @elbeejay!

I have modified the paper following your suggestions. I have added the comparison with the GEE Python API, and also two new sections: one for the GEE Community Developer Resources and one for the integration with QGIS (both for the state of the field).

Cheers!

[2021-04-30 19:54] davemlz commented on #20
The `online` method will be added just for spectral indices.

[2021-05-01 01:54] davemlz commented on #16
`preprocess` method successfully added

[2021-05-01 01:54] #16 closed

[2021-05-01 03:33] giswqs opened #22 "[JOSS Review] Comments and Suggestions"
**Repo:**

- Suggest removing all .ipynb_checkpoints. You might want to add .ipynb_checkpoints to .gitignore so that these unnecessary folders won’t be pushed to GitHub. (see pull request https://github.com/davemlz/eemont/pull/21)
- Suggest adding the docs website (https://eemont.readthedocs.io) to the About section located at the upper-right corner of the repo page.
- Adding a Table of Content fo

[2021-05-01 03:33] giswqs commented on #22
Related to https://github.com/openjournals/joss-reviews/issues/3168

[2021-05-01 16:25] elbeejay commented on #19
Great, I took a look at proposed changes in #21 and I think those are very good suggestions for changing some of the language and phrasing used.

[2021-05-01 16:25] #19 closed

[2021-05-02 14:27] davemlz commented on #22
Hi, @giswqs!

Thank you very much for the suggestions and the PR! I'll merge it and start working on your comments and suggestions. I've planned to publish the package on conda-forge, but I have to figure out how to use a dependency that is not there, after that I'll publish it there!

[2021-05-02 14:34] giswqs commented on #22
It seems all dependencies listed in requirements.txt are available on conda-forge. Which specific dependency are you referring to that's not available on conda-forge?

[2021-05-02 14:36] davemlz commented on #22
You're right! It was my bad, I thought `geopy` wasn't on conda-forge.

[2021-05-02 23:05] aazuspan opened #23 "[Possible feature?] Points and polygons from plus codes"
Hi @davemlz. First of all, eemont is a great tool. Thanks for creating it!

I'm not sure if you're familiar with [open location code](https://github.com/google/open-location-code), but it's a geocoding tool that generates more readable coordinates (aka plus codes) from latitude/longitude (e.g. `[39.777062, -105.006438]` == `85FPQXGV+RC`). Plus codes can also be shortened by including a nearby loca

[2021-05-03 15:20] davemlz commented on #23
Hi, @aazuspan!

This is a really awesome idea! I heard about Plus Codes last year and I think they're amazing and a perfect fit for eemont, as you are saying!

There is just one issue with [openlocationcode](https://github.com/google/open-location-code): it is not on conda-forge, and right now I'm waiting for the conda-forge team for the review of eemont. But I think we can tackle this issue. I'll

[2021-05-03 15:23] davemlz commented on #22
Hi, @giswqs!

I have updated the README (and also the docs and tutorials) following your suggestions (https://github.com/davemlz/eemont/commit/447d8237ce144e769476b2dbf7c97cb7b8f8b549, https://github.com/davemlz/eemont/commit/4513fb714c86d090d2de8b4818d7306c3cec286f).

I have also submitted the package to conda-forge (All checks passed) and I'm waiting for the review!

Thank you very much for your

[2021-05-03 19:37] davemlz opened #24 ".getSTAC method for ee.Image and ee.ImageCollection"
A `.getSTAC()` method that retrieves the json from the GEE STAC for the specific dataset (online).

- [x] Update workflow
- [x] Update _get_platform_STAC
- [x] Create methods
- [x] Testing

[2021-05-03 20:24] davemlz opened #25 "Citation Tools for ee.Image and ee.ImageCollection"
Retrieve DOI and Citation from the GEE STAC.

- [x] Update workflow
- [x] Create `getDOI` method
- [x] Create `getCitation` method
- [x] Testing

[2021-05-03 22:33] davemlz commented on #25
Citation Tools successfully added.

[2021-05-03 22:33] #25 closed

[2021-05-03 22:33] davemlz commented on #24
getSTAC method successfully added.

[2021-05-03 22:33] #24 closed

[2021-05-03 23:38] aazuspan commented on #23
That sounds like a solid design! And I think the soft dependency is a good workaround for the conda-forge issue. I'll also open an issue at openlocationcode suggesting they add it to conda-forge, but I don't think development is very active there.

Please do assign me this issue and create the non-static decorator whenever you get the chance. I'll start putting together the features and tests and

[2021-05-04 00:35] davemlz commented on #23
Perfect! I'll create the decorator and let you know!

PD: Let's hope the guys at `openlocationcode` see the issue!

Thank you, @aazuspan!

[2021-05-04 00:49] davemlz commented on #23
I have added new decorators for `ee.Geometry`, `ee.Feature` and `ee.FeatureCollection` object classes:

[code]

For this case, the decorator for `ee.Geometry` would be the one. I was thinking that the `.plusCode()` method could be maybe added for the `ee.Feature` class, but I'm not sure about it.

Let me know!

And if you require anything, just tell me! :)

[2021-05-05 15:47] davemlz commented on #22
Hi, @giswqs!

`eemont` is now on `conda-forge`! I have updated the README and the Docs with the installation guidelines.

[2021-05-05 20:03] giswqs commented on #22
@davemlz Looks good. Congrats on publishing eemont on conda-forge!

[2021-05-05 20:03] #22 closed

[2021-05-05 20:10] davemlz commented on #22
Thank you very much, @giswqs!

[2021-05-05 21:34] davemlz opened #26 "Ready-to-use visualizations (from the GEE STAC Catalog) for geemap"
- [ ] Update workflow
- [ ] Create `.getVisualizations()` method for `ee.Image` and `ee.ImageCollection`
- [ ] Testing

[2021-05-06 21:13] davemlz commented on #26
- [ ] Create a new repo: ee-catalog-visualizations

[2021-05-18 02:05] aazuspan commented on #23
Hi @davemlz, thanks for adding the decorators. The `.plusCode` method will work for `ee.Geometry` or `ee.Feature` objects.

This feature is mostly implemented and working--just some formatting, docstrings, cleanup, and a tutorial notebook to do--but I had a couple design questions for you.

1. In order to convert short plus codes (i.e. "QXGV+XH Denver, CO, USA") to geometries, the reference locati

[2021-05-18 15:03] davemlz commented on #23
Hi, @aazuspan!

That's great! I really like what you're doing :)

Regarding question 1, let me handle it, I'll create some core methods to avoid code duplication. I'll let you know when it is ready!

Regarding question 2, don't worry, if there are no interesting metadata to add, it is better just to keep just the Geometry constructors :)

Thank you!

[2021-05-21 02:03] davemlz commented on #23
Hi, @aazuspan!

Two new things:

1. I've changed the decorators. I deleted all previous decorators and created a single cleaner decorator. Check the usage:

[code]

2. I've created two geocoding utils: [_retrieve_location()](https://github.com/davemlz/eemont/blob/3943133a34d7056221194f10c8ac36c38fae2e37/eemont/common.py#L1029) and [_lnglat_from_location()](https://github.com/davemlz/eemont/blob/39

[2021-05-21 04:32] aazuspan commented on #23
Nice changes @davemlz! I like the new decorator system.

This should work great for me, but I'll let you know if I have any other questions. Thanks!

[2021-05-24 18:19] patrickcgray opened #28 "[JOSS Review] Comments"
It is clear this is a substantial scholarly effort and represents an excellent contribution to the remote sensing/scientific computing community. I don't think the paper/repo needs any substantial changes. It installed easily in a fresh virtual envronment via `pip` and `conda` and documentation was relatively straightforward. All code examples worked for me, installation was as documented, and the

[2021-05-24 18:37] kbarnhart commented on #28
linking with joss review issue
openjournals/joss-reviews/issues/3168

[2021-05-25 17:00] philippgaertner opened #29 "EVI calculation is not correct - S2 values need adjustment"
It seems that, in the section "Overloaded Operators", where you calculate the EVI with S2_SR you need to use reflectance values. Please multiply the pixel values by 'scale' (0.0001) when you use Sentinel-2 SR products.

[2021-05-25 22:26] davemlz commented on #29
Thank you again, @philippgaertner! I'll modify the "Overloaded Operators" section in the README (and also the "Spectral Indices" section). This was my bad, again.

[2021-05-25 22:27] davemlz commented on #28
Hi, @patrickcgray! Thank you very much for the comments! I'll start working on your suggestions and let you know as soon as they're ready! :)

[2021-05-26 01:44] davemlz commented on #29
Hi, @philippgaertner! I have updated the examples in the README (and in the Docs). I also updated the "Spectral Indices" section in case someone wants to use an index (using that example) that requires scaling. Thank you again!

[2021-05-26 01:44] #29 closed

[2021-05-26 01:54] davemlz commented on #28
Hi, @patrickcgray!

I have updated the paper following your suggested template for the Statement of Need and added some links to the README (and also to the main page of the Docs), including a link to the tutorials! :)

Thank you for the comments and suggestions again, @patrickcgray!

[2021-05-26 19:14] patrickcgray commented on #28
Hey @davemlz nice work, I think everything looks good on my end! Closing this issue.

[2021-05-26 19:14] #28 closed

[2021-05-26 19:32] davemlz commented on #28
Thank you, @patrickcgray!

[2021-06-07 11:55] #23 closed

[2021-06-19 09:15] aazuspan opened #32 "Panchromatic image sharpening method"
Hey @davemlz, what do you think about adding an `ee.Image.panSharpen()` method to eemont? I've implemented some [sharpening algorithms](https://github.com/aazuspan/geeSharp.js#geesharp) before in Javascript, but it would be cool to have them accessible in Python. I think Landsat 7/8 are the only platforms on GEE with panchromatic bands, so it would probably only work with those collections. If you

[2021-06-19 11:39] davemlz commented on #32
Wow, @aazuspan! [geeSharp](https://github.com/aazuspan/geeSharp.js) is amazing! Please, do it! :)

Here are some ideas:

1.  This method can be implemented for ee.Image and ee.ImageCollection classes. Here is the template for private functions that I use when a method works for both classes:

[code]

This template is created in the `common.py` module and then imported into `image.py` and `imagecol

[2021-06-19 19:32] aazuspan commented on #32
Thanks for putting those templates together! I wasn't sure the best way to identify the platform and bands, but that looks perfect. And adding the quality values as image properties is genius!

I'll get started on adding these features and creating a guide and tutorials :)

[2021-06-20 07:35] davemlz commented on #32
That's perfect! I'm going to assign you this Issue :)

Let me know if you need anything! :rocket:

Cheers!

[2021-06-21 12:03] davemlz opened #33 "Emulating Containers"
Containers emulation for:

- [x] ee.Image
- [x] ee.ImageCollection
- [x] ee.Feature
- [x] ee.FeatureCollection
- [x] ee.List
- [ ] ee.Array (Not an EE object? Skip for now)
- [x] ee.Dictionary

Docs and Testing:
- [x] Update Docs
- [x] Testing

[2021-06-25 02:03] aazuspan commented on #32
I've got a question for you, @davemlz! Some of the pan-sharpening algorithms need to match histograms between images. I was going to just write a private function to handle that in `common.py`, but I thought maybe it would be worth adding to eemont as a separate method: `ee.Image.matchHistogram(other)`. What do you think?

Noel Gorelick wrote an [awesome tutorial for histogram matching](https://me

[2021-06-25 11:40] davemlz commented on #32
Hi, @aazuspan!

Yes, that one is a nice feature and would be amazing to have it in eemont! :rocket: I think that an `ee.Image.matchHistogram(other)` would be very nice! But I also think this one should be more "flexible": Letting people decide which bands to get from each image, let them decide how many bands, also which images to use, and so on. Something like `ee.Image.matchHistogram(targetImage

[2021-06-25 18:50] inter8888 opened #34 "toPandas"
Hello @davemlz! Thank you for your job with eemont! I was thinking if there is possible to export a time series of an area of interest to pandas. After checking the documentation I think, that is only avaiable within a Geometry.Point. by getTimeSeriesByRegion function. Am I wrong or that is not possible with eemont? I want to have a pandas dataframe like this.
![grafik](https://user-images.githubu

[2021-06-25 18:57] davemlz commented on #34
Hi, @inter8888!

Actually, you can do it for any ee.Geometry, ee.Feature or ee.FeatureCollection! :) I have two `eemont` tutorials regarding this:

Time Series By Region: https://github.com/davemlz/eemont/blob/master/tutorials/013-Time-Series-By-Region-Pandas.ipynb
Time Series By Regions: https://github.com/davemlz/eemont/blob/master/tutorials/014-Time-Series-By-Regions-Pandas.ipynb

Both show how

[2021-06-25 20:06] inter8888 commented on #34
Thank you for your fast answer!

I see, but with `getTimeSeriesByRegions(reducer = [ee.Reducer.mean()],` I calculate a mean from a e.g. `ee.Geometry.Rectangle` and than have only 1D dataframe with one value for a date in each ee.FeatureCollection, because I need to readuce it, like:
![grafik](https://user-images.githubusercontent.com/63268895/123479670-918a3f80-d601-11eb-900d-b2f85ed755f3.png)

I

[2021-06-26 14:27] davemlz commented on #34
Ohhhh, now I understand what you're trying to do. You need to extract all pixel values for each image in an image collection (saving their coordinates). Ok, this is not exactly possible with eemont, but, if you could manage to create a feature collection where each feature is a point representing each one of the pixels inside your region of interest (and including those coordinates as attributes o

[2021-06-26 17:56] aazuspan commented on #32
Cool! I think being able to specify bands for histogram matching is a good solution, and it shouldn't be too hard to implement. I'll open a new issue for that.

[2021-06-26 18:22] aazuspan opened #35 "Image histogram matching"
Building off of what was discussed in #32, this would be an `ee.Image` method for histogram matching adapted from [this implementation](https://developers.google.com/earth-engine/tutorials/community/histogram-matching) by Noel Gorelick.

The user would specify the target image and two lists of matching bands for the source and target images. The output would be an image with the source bands histo

[2021-06-27 07:00] davemlz commented on #35
Hey, @aazuspan!

I really like this, go for it! :rocket:

I think the ee.ImageCollection method would be really difficult to implement since for each image in the collection we would have to check the closest valid image in the other collection. For now, let's do it just for ee.Image objects :)

And regarding the use of a dictionary instead of two lists, I like it!

I'll assign you this now :)

If

[2021-06-27 08:31] davemlz commented on #33
Container emulation methods updated for most EE objects. The ee.Array overloading was not implemented.

[2021-06-27 08:31] #33 closed

[2021-06-28 01:58] aazuspan commented on #35
Sounds like a good plan! I'll submit this in the same PR as #32.

[2021-06-29 13:45] davemlz opened #36 "Time Series By Region(s) is not working"
eemont: 0.2.2
ee: 0.1.269

[code]

[2021-06-29 14:59] davemlz commented on #36
Issue solved. Version 0.2.3 was released.

[2021-06-29 14:59] #36 closed

[2021-06-30 06:25] davemlz commented on #34
Closing this issue for now. Reopening for future discussions! :)

[2021-06-30 06:25] #34 closed

[2021-07-01 07:12] davemlz opened #37 "Update Algorithms for the Collection 2 of Landsat"
Algorithms:
- [x] `spectralIndices`
- [x] `index`
- [x] `scaleAndOffset` (Automatic)
- [x] `getScaleParams` (Automatic)
- [x] `getOffsetParams` (Automatic)
- [x] `getSTAC` (Automatic)
- [x] `getCitation` (Automatic)
- [x] `getDOI` (Automatic)
- [x] `maskClouds`
- [x] `preprocess` (Automatic after updating `scaleAndOffset` and `maskClouds`)

Testing:
- [x] ee.Image
- [x] ee.ImageCollection

Docs:
-

[2021-07-03 12:19] davemlz commented on #37
Landsat 7-8 Collection 2 Successfully added

[2021-07-03 12:19] #37 closed

[2021-07-07 06:39] Joy-Giovanni opened #38 "convert datetime in R"
in the tutorial of timeseries by regions there is this line to convert date to datetime

tsPandas['date'] = pd.to_datetime(tsPandas['date'],infer_datetime_format = True)

I am trying to run it in R and getting this error:
 Error in py_call_impl(callable, dots$args, dots$keywords) :
  ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missin

[2021-07-07 08:00] davemlz commented on #38
Hi, @Joy-Giovanni!

Well, it is not recommended to use this tutorial in R since it uses more python modules than just `eemont`: `geemap`, `pandas`, `seaborn`, and some calls to the functions of these modules may fail in the middle.

My suggestion: you can do everything that just uses `eemont`, so, you can use everything until the `getTimeSeriesByRegion` method, but don't continue afterwards (don't

[2021-07-07 08:00] #38 closed

[2021-07-13 19:27] aazuspan opened #39 "Handling invalid methods for ee.Image.maskClouds with Sentinel-2"
Hi @davemlz, I came across a minor issue when cloud masking Sentinel-2 imagery: If you pass an invalid `method` to  `ee.Image.maskClouds` or `ee.ImageCollection.maskClouds` (like accidentally using `method=prob` instead of `method=cloud_prob`) it throws an unhelpful error that's tough to debug. If it could raise an exception that warns you about the bad method and/or gives you a list of valid meth

[2021-07-19 06:34] #32 closed

[2021-07-19 06:34] #35 closed

[2021-07-19 12:53] davemlz commented on #39
Hi, @aazuspan!

Thank you for pointing this out, I'll work on it! :rocket:

[2021-07-19 13:37] davemlz commented on #39
I corrected it!

It will be available in the next version or now in the dev version :)

Thank you, @aazuspan!

[2021-07-19 13:37] #39 closed

[2021-07-20 15:17] mariofomacajr opened #41 "ERROR IN TIME SERIES EXTRACTION BY POINTS IN SHAPEFILE"
I can't extract time series using a shapefile with multiple points as input. There is a error when I run tsPandas = geemap.ee_to_pandas(ts).
[eemont time series by points.zip](https://github.com/davemlz/eemont/files/6849410/eemont.time.series.by.points.zip)

[2021-07-20 20:28] davemlz commented on #41
I have checked it and it is a bug.

For now, I'll let you here a workaround:

[code]

Use this code and ignore the NDVI values since you need just the EVI values. It seems that the code is not working correctly when just one band is required by the method. I'll work on it, thank you for pointing this out!

[2021-07-26 20:56] davemlz commented on #11
Since functions can't be stored in ee.Dictionary objects, this can't be done.

[2021-07-26 20:56] #11 closed

[2021-08-14 13:41] davemlz commented on #41
The error was fixed! If you download de dev version, it should work :rocket:

[2021-08-14 13:41] #41 closed

[2021-08-19 17:48] aazuspan opened #42 "ee.Image.index raises AttributeError on median-reduced image"
Hi @davemlz! I don't think this is really an eemont bug, but I'm wondering if you know of a good workaround or if maybe there's an eemont feature that could help with this.

**Describe the bug**
If you use a reducer other than `ee.Reducer.first` on an ImageCollection and then try to use the `index` method, an attribute error is thrown. I think this is because Earth Engine reducers like `ee.Reducer

[2021-08-19 20:38] davemlz commented on #42
Hi, @aazuspan!

You're totally right. The problem here is that after reducing an image it loses all its properties. Most `eemont` methods depend on the `system:id` property, so it is necessary to have it. Given this, here is a workaround:

[code]

I will leave this issue open, maybe I can find a way to fix this in the future :)

Cheers!

[2021-08-19 22:08] aazuspan commented on #42
Awesome, thanks so much for the quick workaround! :)

[2021-08-31 14:49] sebimarkgraf opened #43 "ee.ImageCollection.getTimeSeriesByRegion breaks when specifying bands=None"
**Describe the bug**
When choosing the bands as `None` as specified in the default and the documentation to get all images, the following error is thrown:
[code]

**To Reproduce**
Do not specify the bands parameter when using `´getTimeSeriesByRegion``.

**Setup (please complete the following information):**
 - OS:  Linux
 - python version: 3.8
 - eemont version: 0.2.5
 - earthengine-api version: 0

[2021-08-31 16:04] davemlz commented on #43
Fixed! If you download the dev version, it should work! :)

[2021-08-31 16:04] #43 closed

[2021-08-31 16:07] sebimarkgraf commented on #43
Oh wow, that was quick. Thank you very much!

[2021-09-15 11:34] davemlz opened #44 "Add Extra module"
The extra module will handle [ee-extra](https://github.com/r-earthengine/ee_extra) methods that do not fit within specific Earth Engine classes modules.

[2021-09-15 11:36] davemlz opened #45 "Add `require` method from eeExtra"
Add the ee_require method from [ee-extra](https://github.com/r-earthengine/ee_extra).

Annotate the method as `Experimental`.

[2021-09-16 08:43] davemlz commented on #45
Done

[2021-09-16 08:43] #45 closed

[2021-09-16 08:43] davemlz commented on #44
Done

[2021-09-16 08:43] #44 closed

[2021-09-20 20:47] aazuspan opened #46 "Tasseled Cap Transformations"
**Is this a Feature Request for eemont or for eeExtra?**
Not sure! It would require matching image STAC IDs to a list of `ee.Image` coefficients and calculating a weighted mean, so it could be done using just `earthengine-api` and your STAC tools from `eemont`.

**Is your feature request related to a problem? Please describe.**
If you're not familiar with [tasseled cap transformations](https://en.

[2021-09-21 09:32] davemlz commented on #46
Haha love the additional context!

This is a great idea, @aazuspan! :D And yes, I also think that using the STAC IDs is better for this!

Also, this is a perfect fit for [eeExtra](https://github.com/r-earthengine/ee_extra)! Let me explain: eeExtra is a python package that @csaybar and I have created. This is a "ghost" package (or a "ninja" package, like we like to call it) since it is not required

[2021-09-22 01:32] aazuspan commented on #46
Thanks for explaining @davemlz! I was wondering why things were implemented in `eeExtra`, and standardization between `eemont` and `rgeeExtra` makes perfect sense. Great design!

I'll go ahead and open an issue over there for tasseled cap. Feel free to close this :)

I'll migrate `panSharpen` and `matchHistogram` over there too when I get a chance, but they might take me longer to get to.

[2021-09-25 01:49] gaowudao opened #47 "how to add a new formula into spectral-indices-dict.json file"
Hello, I have a  formula,called "WD", ("formula": "19.4260 + 9.2603 * (G / R) - 57.9165 * (R.log()) + 86.9934 * (G.log()) - 6.4577 * R - 17.6220 * (B.log())"), and added it into spectral-indices-dict.json file.

**What I did:**

f1 = ee.Feature(ee.Geometry.Point([120.076432, 30.86733]).buffer(10),{'ID':'A'})

fc = ee.FeatureCollection([f1])

S2 = (ee.ImageCollection('COPERNICUS/S2_SR')
   .filterB

[2021-09-25 14:34] davemlz commented on #47
Hi, @gaowudao!

In the expression of the formula you should use the method as a function itself. The correct form of the formula would be this:

[code]

Note that the `log()` function is not a method of the band :)

Let me know if it works!

Also, you must define the `bands`, `short_name` and `type` attributes to make it work correctly :)

PD: Another option (if you want) would be adding the index

[2021-09-25 14:34] #47 closed

[2021-09-27 07:34] davemlz opened #48 "Moving stuff from ee-extra"
All methods from [ee-extra](https://github.com/r-earthengine/ee_extra) will be extended to `eemont`.

[2021-09-28 15:26] pkpnerist opened #49 "Request to add drought indices in eemont"
** Feature Request for eemont or ee extra**
Hello Dr David Congratulations for nice contribution to making easy use of GEE. I request to add in your eemont package few mode drought indices. I did not find way to fit distribution in GEE or in GGE related packages in python.

I request to add some more indices like standardized precipitation index(SPI).
The SPI calculation for any location is based

[2021-10-02 10:14] #46 closed

[2021-10-27 20:55] davemlz opened #51 "Add `gamma` parameter to `spectralIndices`"
Link this improvement: https://github.com/r-earthengine/ee_extra/issues/17

[2021-10-28 20:22] #51 closed, assigned to davemlz

[2021-11-07 10:57] davemlz opened #52 "`drop` for `spectralIndices`"
Add this to `eemont`: https://github.com/r-earthengine/ee_extra/issues/21

[2021-11-30 19:26] davemlz commented on #52
Done!

[2021-11-30 19:26] #52 closed

[2021-11-30 20:29] davemlz commented on #48
Done!

[2021-11-30 20:29] #48 closed

[2021-12-14 23:03] davemlz opened #53 "Add App Manager"
Create App Manager

[2021-12-15 00:53] #53 closed

[2022-01-17 00:09] davemlz opened #54 "Add `omega`"
Add `omega` parameter for `MBWI`. Default = 2.

[2022-03-02 02:42] aazuspan opened #57 "Use `panSharpen` and `matchHistogram` from `ee_extra`"
Now that I *finally* finished migrating these features over to `ee_extra`, we can use those and the implementations in `eemont` can be removed. I can make a PR, unless you've already started working on this @davemlz :)

I know there's [still a question](https://github.com/r-earthengine/ee_extra/issues/31#issuecomment-1015520413) of the best way to implement the `metrics` module in `eemont`, so I w

[2022-03-02 05:46] aazuspan opened #58 "Disable cron jobs on forks?"
**Describe the bug**
Hey @davemlz! I was just updating my `eemont` fork and noticed it was ahead of the main fork by [60 commits](https://github.com/davemlz/eemont/compare/master...aazuspan:master) just from automated STAC updates. It looks like the cron job workflows that are set up for `eemont` run independently on forks, which leads to a bunch of redundant commits. This isn't really a bug and d

[2022-03-02 09:26] davemlz commented on #58
Wohh. I didn't know that! I'm on it!

Thanks, @aazuspan!

[2022-03-02 17:14] davemlz opened #59 "Add examples in docstrings for R and Julia extensions"
Use code-blocks from sphinx! :)

[2022-03-02 18:34] aazuspan commented on #58
Thanks for the quick fix!

[2022-03-03 10:40] #57 closed

[2022-03-05 21:06] davemlz commented on #54
Done. Finally.

[2022-03-05 21:06] #54 closed

[2022-03-06 12:49] davemlz opened #61 "Add `k` parameter to `spectralIndices`"
k = 0.0

[2022-03-06 12:57] davemlz commented on #61
Done

[2022-03-06 12:57] #61 closed

[2022-03-12 04:24] cdgriffith opened #62 "[Suggestion] Pin requirement versions (specifically python-box)"
Hello, I am the developer of python-box and see that it is a requirement in this repo and has not been version pinned.
I suggest that you pin it to the max known [compatible version](https://peps.python.org/pep-0440/#compatible-release) in your requirements.txt and/or setup.py file(s):

[code]

Or without external dependencies

[code]

Using `~=5.0` (or any minor version) will lock it to the major

[2022-03-25 06:40] aazuspan opened #63 "Update `tasseledCap` docstrings"
Once I finish adding the new coeffs for L8 and L9 in `ee_extra` (r-earthengine/ee_extra#42) I can update the docstrings for `ee.Image.tasseledCap` and `ee.ImageCollection.tasseledCap`here to include the new reference and platform list :)

[2022-03-25 08:32] davemlz commented on #63
Perfect! Thanks, @aazuspan! :rocket:

[2022-04-05 08:11] #63 closed

[2022-04-26 10:38] FeiYao-Edinburgh opened #65 "Extended methods for the ee.Image class cannot be thrown to map"
Hi @davemlz ! I recently want to combine part of the extended methods for the `ee.Image` class into my personal image processing workflow. However, I found that those methods cannot be thrown into `map`. As a simple illustration, the following code excerpt will prompts the error of `A mapped function's arguments cannot be used in client-side operations`.
[code]
I definitely understand that the abo

[2022-04-26 11:05] FeiYao-Edinburgh opened #66 "Would it be nice to expose the s2cloudless algorithm to Sentinel-2 Level 1C data?"
Hi @davemlz ! Thanks for creating the amazing `eemont` and making it public. I love its `maskClouds` method but see that it currently only supports Surface Reflectance products. However, for the s2cloudless algorithm, it seems that it can also be applied to Level 1C data, as described [here](https://medium.com/google-earth/more-accurate-and-flexible-cloud-masking-for-sentinel-2-images-766897a9ba5f

[2022-04-26 11:22] davemlz commented on #65
Hi @FeiYao-Edinburgh!

I understand what you're trying to do. I ran into this problem a long time ago (https://github.com/davemlz/eemont/issues/11), but unfortunately there is no actual way to solve it since I have to maintain the core STAC function on the client-side: this in order to keep all datasets updated autimatically.

[2022-04-26 11:23] davemlz commented on #66
Hi @FeiYao-Edinburgh!

You're totally right! I'll work on it :rocket:

[2022-04-26 11:49] FeiYao-Edinburgh commented on #65
Hi @davemlz !

Thanks for your quick reply. I now see the root of evil is the use of `getInfo()` which is not allowed in `map`. In this sense, I will choose to use extended methods of `eemont` simply before and outside my personal `user_process`:

[code]
Not ideal but still doable. Hopefully all can be thrown into the `user_process()` function in the future with the improvement of earthengine-api

[2022-04-26 12:13] FeiYao-Edinburgh commented on #65
Alternatively:
[code]

[2022-04-26 14:31] davemlz commented on #65
Yes!

Also, you can go:

[code]

The `preprocess()` method calls all available pre-processing steps, including `maskClouds()` and `scaleAndOffset()`

[2022-04-26 16:45] FeiYao-Edinburgh opened #67 "ee.Geometry.Point does not accept varargs after importing eemont"
Hi @davemlz !

I just found a VERY weird behavior in `eemont 0.2.5`. Before importing the `eemont`, the following code excerpt works perfectly:
[code]
However, after importing `eemont`, the last two sentences will prompts the error of "EEException: Invalid argument specified for ee.Number(): <object object at 0x2b9f90c8ed80>":
[code]
I spent a couple of hours to identify the root of this weird, ha

[2022-05-13 02:45] Ivo-G opened #68 "COPERNICUS/S2_HARMONIZED"
eemont is not working on the dataset COPERNICUS/S2_HARMONIZED

[2022-05-13 06:19] masands opened #69 "MODIS/061/MOD09A1"
MOD09A1.006 Terra Surface Reflectance 8-Day Global 500m has been superseded by MOD09A1.061 Terra Surface Reflectance 8-Day Global 500m. Please add support for MODIS/061/MOD09A1.

Source:
https://developers.google.com/earth-engine/datasets/catalog/MODIS_006_MOD09A1

[2022-05-13 06:34] davemlz commented on #69
Hi @masands

I'm aware of it. However, GEE hasn't updated their STAC. Most `eemont` methods are automatically updated using the STAC.

When the STAC is updated, a new version will come up!

Cheers,

Dave

[2022-05-13 06:50] masands commented on #69
Sorry if I misunderstood, but I can see MOD09A1.061 here:
https://storage.googleapis.com/earthengine-stac/
![image](https://user-images.githubusercontent.com/18495437/168227232-44ed45c1-4235-40b1-adb0-cd9f9267e277.png)

[2022-05-13 07:12] davemlz commented on #69
Not here: [https://storage.googleapis.com/earthengine-stac/catalog/MODIS/catalog.json](https://storage.googleapis.com/earthengine-stac/catalog/MODIS/catalog.json)

[2022-05-18 23:11] kaushikCanada opened #70 "What visParams should i use for al lthe indices available in spectral indices?"
There are lots of indices in https://github.com/awesome-spectral-indices/awesome-spectral-indices.
When i try to view them it requires visParams parameter and the colour palette. Can you put a guide or soemthing to give the proper visparams for viewing on map?
For example to view [BLFEI](https://doi.org/10.1080/10106049.2018.1497094): Built-Up Land Features Extraction Index. what should be my visP

[2022-05-19 07:38] davemlz commented on #70
Hi @kaushikCanada!

That depends entirely on the index. For any index it is recommended to look into the reference paper and check how it works. In the case of the BLFEI, the formula is a normalized difference, so the valid range is [-1,1]. Now, the values inside this range may vary according to the land cover you're in. But, as mentioned before, it is recommended to look into the index's paper.

[2022-05-19 07:38] #70 closed

[2022-07-03 16:39] REvilo-code opened #71 "index() function not working"
**Describe the bug**
First of all I want to thank you for your work , this library is very helpful!
But I get the error 'Pattern NDVI did not match any bands'. I been trying to get this function to work but it doesn't. I had a notebook with a project I was working on and it didn't work so I tried using a new notebook with examples right out of the documentation. But still doesn't work.

**To Repro

[2022-07-03 22:41] REvilo-code commented on #71
I just realized the function is deprecated ! I'm using ```spectralIndices()`` instead. Very sorry for the inconvenience. Keep up the good work!

[2022-07-03 22:41] #71 closed

[2022-07-07 15:37] mariofomacajr opened #72 "getTimeSeriesByRegion returns empty and repeated dates in dataframe"
**Describe the bug**
When I extract a timeserie by point the final dataframe return a lot of empty rows for the same date. Sometimes the NDVI value appears only in one row.

![image](https://user-images.githubusercontent.com/65542862/177813705-b60d6b73-4719-4e5a-9aac-06c0d32f4039.png)

**Additional context**
Add any other context about the problem here.
[github eemont.zip](https://github.com/davem

[2022-07-21 10:15] Ivo-G commented on #68
Dataset is Working but not loading indexes. THNKS

[2022-07-22 05:35] masands opened #73 "MODIS/061/MOD09A1"
Hi

This product is now available in https://storage.googleapis.com/earthengine-stac/catalog/MODIS/catalog.json

Thanks

[2022-07-27 07:36] davemlz commented on #73
Hi!

This is being addressed in [ee-extra](https://github.com/r-earthengine/ee_extra) and soon it will be available in `eemont`!

Best,

David

[2022-07-27 07:37] davemlz commented on #68
Hi!

This is being addressed in [ee-extra](https://github.com/r-earthengine/ee_extra) and soon it will be available in `eemont`!

Best,

David

[2022-07-27 07:38] #65 closed

[2022-07-27 08:03] davemlz commented on #67
Hi @FeiYao-Edinburgh!

Ok, this is super weird. I've been trying to look for a solution but I have no idea.

I will keep this issue open. Thank you for spotting it!

Best,

David

[2022-07-27 09:14] davemlz commented on #72
Hi @mariofomacajr!

I just checked your code and everything is working fine :) You're getting exactly 4 images per day because your point is actually getting 4 different tiles of S2 (T22JCP, T22JCN, T22JBP, T22JBN).

You can do: After getting the time series as a data frame group by day and compute the average (or median) using `pandas` itself, or you can use [`wxee`](https://github.com/aazuspan/w

[2022-07-27 09:14] #72 closed

[2022-07-27 13:51] davemlz commented on #73
The dataset was succesfully added and it will be available in the upcoming release of eemont!

Thank you!

[2022-07-27 13:51] #73 closed

[2022-07-27 13:51] davemlz commented on #68
The dataset was succesfully added and it will be available in the upcoming release of eemont!

Thank you!

[2022-07-27 13:51] #68 closed

[2022-07-27 13:56] #62 closed

[2022-07-27 14:12] jencaro19 commented on #67
@davemlz I have also spent the last hours trying to calculate my indices and no matter what I do they don't seem to be added as new bands. the code runs but when i do zonal statistics they are not there! Is the package offline or maybe i am missing something.
Thank you
![image](https://user-images.githubusercontent.com/101399596/181269069-9ee9e984-7de2-4f22-b000-9f5edb9b9754.png)
![image](https://

[2022-07-27 14:26] davemlz commented on #67
Hi @jencaro19!

S2_HARMONIZED is not yet included in the current version of `eemont` (`0.3.4`), but it will be in the following days with the upcoming version (`0.3.5`). Please see https://github.com/davemlz/eemont/issues/68. Thank you!

PD: `index()` and `scale()` are deprecated since version `0.3.0`, please use `spectralIndices()` and `scaleAndOffset()`. See https://eemont.readthedocs.io/en/late

[2022-07-27 14:58] davemlz commented on #67
Hi @jencaro19!

[`eemont v0.3.5`](https://github.com/davemlz/eemont/releases/tag/0.3.5) was just released and now you can try it. It should work! :)

`pip install -U eemont`

[2022-07-30 14:15] Daniel-Trung-Nguyen opened #74 "tasseled cap transformation for COPERNICUS/S2_SR"
Hi,
I am wondering if it is possible to add the tasseled cap transformation for COPERNICUS/S2_SR
Thanks,
Daniel

Exception: Sorry, satellite platform not supported for tasseled cap transformation! Use one of ['COPERNICUS/S2', 'MODIS/006/MCD43A4', 'LANDSAT/LC09/C02/T1_L2', 'LANDSAT/LC09/C02/T1_TOA', 'LANDSAT/LC08/C02/T1_L2', 'LANDSAT/LC08/C02/T2_L2', 'LANDSAT/LC08/C01/T1_TOA', 'LANDSAT/LC08/C01/T1_

[2022-07-31 16:40] davemlz commented on #74
Hi, @Daniel-Trung-Nguyen!

We need specific TC transformation coefficients for each platform according to the processing level. At the moment all the available platforms have a published paper with the coefficients (including S2 L1C, but not S2 L2A). When we find one, or if you find one, please let us know so we can include it! :)

CC: @aazuspan

Best regards,

David

[2022-08-03 07:37] #74 closed

[2022-08-06 13:24] Daniel-Trung-Nguyen opened #75 "Pixel calculation after cloud masking"
Hi,
It does seem to me that the masked pixel values were set to 0 instead of null and thus they were also used in statistical calculations (e.g. mean/median)
Photos below show that the NDVI value of the masked areas seem to be lower than the surrounding area.

Cloud free image (2022-04-02)
![image](https://user-images.githubusercontent.com/22897462/183250676-563a9a3a-de3f-44a2-9716-b8181ea15e1d.pn

[2022-08-06 13:49] Daniel-Trung-Nguyen commented on #75
When I ran the same location on code.earthengine.google.com using the code boilerplate from https://developers.google.com/earth-engine/datasets/catalog/COPERNICUS_S2_SR, the cloud was not masked at all. Is this a bug or am I missing something?
Thanks,
Daniel

[code]
![image](https://user-images.githubusercontent.com/22897462/183251688-2a130a7e-40a7-4b5e-9c3e-87134c207d8c.png)

[2022-08-06 14:30] Daniel-Trung-Nguyen commented on #75
Apparently I added unmask() after clipping the imagecollection to an ROI that was why the mask was replaced by zero.

[2022-08-06 15:15] davemlz commented on #75
Don't worry! :)

[2022-08-06 15:15] #75 closed

[2022-08-08 10:06] Geethen opened #76 "Support for computing indices for Sentinel-1"
**Is this a Feature Request for eemont or for eeExtra?**
eemont

**Is your feature request related to a problem? Please describe.**
I have been trying to compute spectral indices listed in espectro for S1 but have had no success- I am getting the impression that it is not yet supported?

I keep getting an error stating the platform is not supported.

**Describe the solution you'd like**
I preproce

[2022-08-08 11:13] davemlz commented on #76
Oh God you're right! I forgot to add S1. I'll work on it and I'll let you know when it is ready! :)

Thank you!

[2022-09-03 12:06] FeiYao-Edinburgh opened #77 ""system:id" disappears after maskClouds() that subsequently leads to the error of the follow-on scaleAndOffset()"
**Describe the bug**
I am using `eemont` to preprocess a series of Sentinel-2 L2A images. Unfortunately, it cannot preprocess certain images as follows.

**To Reproduce**
[code]
prompts the following errors:
[code]

**Setup (please complete the following information):**
 - OS: Ubuntu 20.04.4 LTS
 - python version: 3.8.13
 - eemont version: 0.3.5
 - earthengine-api version: 0.1.318

**Additional co

[2022-09-03 18:57] davemlz commented on #77
This is really curious. It works for `ee.ImageCollection` and for `ee.ImageCollection.first()` or when I filter the collection by the id. But it doesn't work when you directly specify the image as `ee.Image`. I will try to figure out what is happening.

Thank you for spotting it!

[2022-09-09 17:51] navidboy70 opened #78 "some methods and modules do not work"
**Describe the bug**
I am trying to use geemap,eemont and ee to derive some indices from sentinel-2 dataset from GEE python API in VSCode. the problem is that some methods and modules can not be recognized by python and I face error. I also copied the exact scripts from your tutorials, but the problem still exists.

**To Reproduce**
import ee, eemont, geemap

       S2 = (ee.ImageCollection("COPER

[2022-09-12 14:02] mariofomacajr opened #79 "getTimeSeriesByRegion returns repeated and empty dates in time series"
When I getTimeSeriesByRegion to Sentinel 2 NDVI its returns empty cand repeated cells in result
it's as if there were many images in one day with a few seconds of difference

[BUG_eemont.zip](https://github.com/davemlz/eemont/files/9548669/BUG_eemont.zip)
![Captura de tela 2022-09-12 105922](https://user-images.githubusercontent.com/65542862/189673375-8692ac04-0fcc-4b17-95be-a50f5c6cf1c1.png)

[2022-09-14 15:19] davemlz commented on #78
Hi @navidboy70!

I tried the code that you sent (with another ROI since I don't have access to the one you're using) and everything works fine in VS Code, JN, and Colab. Please try the following:

1. The `preprocess` method was created for `eemont>=0.2.0`. Check you are actually using `eemont` with a version greater or equal to `0.2.0`. You can check the version with `eemont.__version__`. You can

[2022-09-14 23:55] davemlz commented on #79
Hey Mario!

Now I see the problem: You're filtering the collection by all the points and then just requesting the time series of a single point. If you want to do it that way (point by point), you must go:

[code]

I'm sorry I didn't see the error before.

Also, if you're using `maskClouds()` after `scaleAndOffset()` you have to set `maskClouds(scaledImage=True)`. A better option is to go:

[code]

[2022-09-14 23:55] #79 closed

[2022-09-17 21:20] mariofomacajr commented on #79
Thank you soo much!

[2022-10-09 07:37] navidboy70 commented on #78
Hi David,
I managed to fix the problem. Thank you very much.
Unfortunately, I have faced another problem with your library in the google
earth engine code editor. I write your spectral code :  'var spectral =
require("users/dmlmont/spectral:spectral");',
but it causes an error :  'In users/dmlmont/spectral:spectral-constants
Line 51: None is not defined'

I did not have problem with it since 2 day

[2022-10-09 12:15] davemlz commented on #78
Sorry, it was an error when translating from Python to JavaScript. It has been fixed! :)

Bets regards,

David

[2022-10-09 12:15] #78 closed

[2022-10-09 12:26] navidboy70 commented on #78
thank you David.

On Sun, Oct 9, 2022 at 3:45 PM David Montero Loaiza <
***@***.***> wrote:

[2022-10-11 08:20] navidboy70 commented on #78
Hello David,
I am using your library 'eemont' in python environment (VSCode), when I
use   '.preprocess()'   method in my code it faces an error
'ee.ee_exception.EEException: Request payload size exceeds the limit:
10485760 bytes.'   . However, without it, it prints the output.
'
S2_1 = ( eemont.ee.ImageCollection(dataset)
                .filterBounds(state)
                .filterDate('2021-09-2